<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/show.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Serif&display=swap" rel="stylesheet">
    <title> <%= title %> </title>
</head>
<body>
    <nav>
        <a href="/">
            <input type="button" id="home" value="Home">
        </a>

        <a href="/flights">
            <input type="button" id="all" value="All Flights">
        </a>
    </nav>

    <h1>Flight Details</h1>
    <table class="details">
        <tr>
            <th>Airline</th>
            <th>Airport</th>
            <th>Flight No.</th>
            <th>Departure</th>
            <th>Destinations:</th>
        </tr>

        <tr>
            <td><%= flights.airline %> </td>
            <td><%= flights.airport %> </td>
            <td><%= flights.flightNo %> </td>
            <td><%= flights.departs %> </td>
            <td><% flights.destinations.forEach(function(f) { %>
                <li>Airport: <%= f.airport %> </li>
                <li>Arrival: <%= f.arrival %> </li>
                <% }); %> </td>
        </tr>
    </table>

    <h3>Add a Destination:</h3>
    <form action="/flights/<%= flights._id %>/destination" method="POST" id="dest" autocomplete="off">
        <label>Airport</label>
            <select name="airport">
                <option value="AUS">ATL</option>
                <option value="DFW">DFW</option>
                <option value="DEN">DEN</option>
                <option value="LAX">LAX</option>
                <option value="SAN">SAN</option>
            </select>

        <label>Arrival Date</label>
        <input name="arrival" type="date">
        <input type="submit" id="add-dest" value="Add Destination">
    </form>

    <table class="tickets">
    <caption>Tickets</caption>
        <tr>
            <th>Seat</th>
            <th>Price</th>
        </tr>

        <% tickets.forEach(function(t) { %> 
        <tr>
            <td><%= t.seat %> </td>
            <td>$ <%= t.price %> </td>
        </tr>
    <% }) %>
    </table>

    <a href='/flights/<%= flights._id %>/tickets/new '>
        <input type="button" id="add" value="Add Ticket">
    </a>

    <form action="/flights/<%= flights._id %>?_method=DELETE" method="POST">
        <input type="submit" id="delete" value="Delete Flight">
    </form>
</body>

</html>