<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flight Details</title>
</head>
<body>
    <h1>Flight Details</h1>

    <h3>Airline: <%= flights.airline %></h3>
    <h3>Airport: <%= flights.airport %></h3>
    <h3>Flight No.: <%= flights.flightNo %></h3>
    <h3>Departure: <%= flights.departs %></h3>
        
    <h3>Destinations:</h3>
        <% flights.destinations.forEach(function(f) { %>
        <li>Airport: <%= f.airport %> </li>
        <li>Arrival: <%= f.arrival %> </li>
        <% }); %>

    <h3>Add a Destination</h3>
    <form action="/flights/<%= flights._id %>/destination" method="POST" autocomplete="off">
        <label>Airport</label>
            <select name="airport">
                <option value="AUS">ATL</option>
                <option value="DFW">DFW</option>
                <option value="DEN">DEN</option>
                <option value="LAX">LAX</option>
                <option value="SAN">SAN</option>
            </select>

        <label>Arrival Date</label>
        <input name="arrival" type="date">
        <input type="submit" value="Add Destination">
    </form>

    <h2>Tickets</h2>
    <table>
        <tr>
            <th>Seat</th>
            <th>Price</th>
            <th>Flight</th>
        </tr>

        <tr>
            <td></td>
        </tr>
    </table>

    <a href='/flights/<%= flights._id %>/tickets/new '>
        <input type="button" value="Add Ticket">
    </a>
</body>
</html>